extends layout

block content
  section(class="center")
    h1 Day 10
    form(method="post" action="/code")
      label(for="amount") Enter invoice amount: 
      input(type="text" name="amount" value="#{amount}")
      br
      br
      label(for="service") Enter service type: 
      input(type="text" name="service" value="#{service}")
      br
      br
      button(type="submit") Generate invoice
    br
    if qrCode
      img(src="#{qrCode}" class="qr-code" alt="qr")
      p Scan the QR code above to download
  
