body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.qr-code {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.center {
  text-align: center;
}
